{% extends 'home.html' %}
{% load static %}
{% block titulo %}
{%  endblock %}

{% block contenido%}
<div style="background-color: white;">
</div>
<div class="row " style="color: white; text-align: center;">
<h1 >Listado de Productos </h1>
<h6 style="color: white;"> Agregar Producto <img   class="logo"  data-bs-toggle="modal" data-bs-target="#agregar"  src="{% static 'iconos/mas.gif ' %}" width="5%" height="60%" alt=""></h6>
<div class="row" style="color: white;">
<table border= 1 > 
<tr>
    <td><h3> #</h3></td>
    <td > <h3>Nombre</h3></td>
    <td> <h3>Fabricante</h3></td>
    <td> <h3>Componente</h3></td>
    <td> <h3>Precio</h3></td>
    <td> <h3>Stock</h3></td>
</tr>
{% for ve in producto %}
<tr>
    <td> <h3>{{ve.idProducto}} </h3> </td>
    <td><h3> {{ve.nombreProducto}}</h3></td>
    <td><h3>{{ve.fabricante}} </h3></td>
    <td><h3>{{ve.componente}} </h3></td>
    <td><h3>{{ve.precio}} </h3></td>
    <td><h3> {{ve.stock}}</h3></td>
    <td> <input type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editar"   value="Editar"> </td>
    <td> <input type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#imagen"   value="Imagen"></td>
    <td> <input type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar"  value="Eliminar"> </td>
</tr>
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Editar Productos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: black;">
          ...   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="imagen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Ver imagen de producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: black;">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: black;">¿Estas seguro de que quieres eliminar este producto?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: black;">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Agregar Nuevo producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: white;">
        <div class="row">
          <form method="POST" enctype="multipart/form-data" action="" id="Formulario1" style="color: white;">
              {% csrf_token %}
              <div class="form-group"> 
              </div>
              <input type="submit" class="btn btn-danger" id="Enviar" value="Enviar">
              <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
              <div id="Error"     class="alert alert-danger" role="alert"></div>
          </form>
          {% if not mensaje == ''  %}
          <div class="alert alert-success" role="alert">  
              {{mensaje}}
          </div>
          {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 


{%  endblock %}


    